.product *{
    font-family: Montserrat;
}

.product #product-name{
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
}

.product img{
    width:200px;
    height:220px;
}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.5px black;
    flex-direction: column;
    width: 15vw;
    height: 50vh;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 2px 5px 5px 2px gray;
    margin-bottom: 20px;

}
.product button{
    border: 0.5px solid black;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease,color 0.5s ease;
}
.product button:hover{
    background-color: black;
    color: white;
    transition: background-color 0.5s ease,color 0.5s ease;
}
